Hardware/fp-info-cache
Hardware/fp-info-cache-desktop
Hardware/fp-lib-table
Hardware/_autosave-*
Hardware/#auto_saved_files#
Hardware/windemere-basic.kicad_prl
Hardware/windemere-basic-backups/*
SourceCode/*.bin
SourceCode/*.lst
SourceCode/*.o